

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .user-div li{
  text-align: center;
  background-color: ghostwhite;
  width: 75%;
  padding: 30px;
  margin: 25px;
  display: flex;
} */

ul {
  list-style: none;
  text-align: center;
}

.user-wrapper {
  background-color: white;
  padding: 10px;
  margin: 20px;
  display: flex;
}

.profile-pic {
  width: 200px;
  text-align: center;
  align-self: flex-end;
}

.profile-pic img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-images {
  width: 85%;
  display: flex;
  background-color: gainsboro;
  padding: 25px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; */

}

.user-image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  float:left;
  padding: 5px;

}
.user-images li {
  display: inline;
}

.modal-head {
  font-family: 'Montserrat';
  background: linear-gradient(to left, #5F7762, #C9B073);
  color: #ffffff;
}

form {
  border-radius: 10px;
  background-color: gainsboro;
}

a {
  color: #70AB87;
}

.span-link {
  color: #70AB87;
}

.span-link:hover {
    text-decoration: underline;
}